.md-grid {
    max-width: 95%;
}

.md-tabs__item {
    transition: ease 500ms border-bottom;
    border-bottom: 0.3rem solid #733088;;
}

.md-tabs__item:hover {
    border-bottom-color: #d87ef7;
}

.md-nav .md-nav__title {
    display: none !important;
}

.md-content {
    border-left: 0.2em solid #733088;
}

.md-main__inner {
    margin: 1.5em auto;
}

.md-content img {
    max-height: 30em;
    display: block;
    margin: auto;
}

.md-content img[align] {
    max-width: 40%;
}

h1 {
    color: #806896 !important;
}

h2 {
    color: #7723c5;
}

h3, h4, h5, h6 {
    color: #9a79b9;
}